@font-face {
    font-family: FontAwesome;
    src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/fonts/fontawesome-webfont.woff);
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}
p {
  color: #fff;
  font-size: 16pt;
  padding-bottom: 18px;
}


.topnav {
  margin: 0;
  background: #000;
}

.topnav li a {
  font-size: 14pt;
  color: #fff;
}

.topnav li a:hover {
  background: #555;
}

.hamburger-btn:before {
  content: "\f0c9";
  font-family: FontAwesome;
  font-size: 14pt;
  color: #ccc;
}

.social-nav {
  margin: 0 auto;
  width: 40%;
  font-size: 14pt;
}
.social-nav li {
  border-radius: 4px;
  margin: 10px 0;
}
.social-nav li a {
  background: #0C74EB;
  color: #fff;
}
.social-nav li a:hover {
  background: #1D59A8;
}

.contact-icon:before {
  font-family: FontAwesome;
  font-size: 14pt;
  margin-right: 8pt;
}
.linkedin:before {
  content: "\f08c";
}
.freeCodeCamp:before {
  content: "\f06d";
}
.github:before {
  content: "\f092";
}
.twitter:before {
  content: "\f099";
}

.content-container {
  height: 800px;
  padding: 0;
}
.home-container {
  background: url("http://thewallpaperhost.com/wp-content/uploads/hd-wallpaper-37.jpg") no-repeat center center fixed;
  height: 800px;
}
.about-container {
  background: url("http://thewallpaperhost.com/wp-content/uploads/hd-wallpaper-15.jpg") no-repeat top center fixed;
  height: 800px;
}
.portfolio-container {
  background: url("http://thewallpaperhost.com/wp-content/uploads/colorful_kites_hd_1080p-HD.jpg") no-repeat top center fixed;
  height: 800px;
}
.contact-container {
  background: url("http://thewallpaperhost.com/wp-content/uploads/2014/12/abstract_wallpapers_000492.jpg") no-repeat top center fixed;
  height: 800px;
}

.main-heading {
  font-size: 44pt;
  color: #fff;
  text-shadow: 1pt 1pt 5px #333;
  padding: 150px 0 30px;
}

.sub-heading {
  font-size: 24pt;
  color: #fff;
}

.about-content {
  background: rgba(0, 67, 156, 0.4);
  padding: 20px;
}

.coming-soon {
  width: 600px;
  height: 230px;
  margin: 20px auto;
}
